<div>
  <%= form_for(@user) do  |f| %>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, autofocus: true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit "送信", class: 'form-control btn btn-primary' %>
    </div>
  <% end %>
</div>
