<header>
  <h1>タイトル</h1>
  <div class="clear">
    <p class="header--txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <img src="https://placehold.jp/40/000/fff/60x60.jpg?text=JP" class="header--img">
  </div>
  <nav class="header--nav">
    <ul>
      <li><a href="">lorem</a></li>
      <li><a href="">lorem</a></li>
      <li><a href="">lorem</a></li>
      <li><a href="">lorem</a></li>
      <li><a href="">lorem</a></li>
    </ul>
  </nav>
</header>
