<!DOCTYPE html>
<html>
  <head>
    <title>エン×交 ~エンジニアの交流をお手伝い~</title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
  
    <%= yield %>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
